@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 1.5s ease-out infinite;
}